<!doctype html>

{% load static %}
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Management System</title>
        <link href="{% static 'select2-4.0.13/dist/css/select2.min.css' %}" rel="stylesheet" />
        <link href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
        <script src="{% static 'jquery3.7.1/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'JsBarcode3.11.6/JsBarcode.all.min.js' %}"></script>
        <script src="{% static 'select2-4.0.13/dist/js/select2.min.js' %}"></script>
        <script src="{% static 'popperjs2.11.8/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                $('#search-items').select2();
                $('#search-employee').select2();
            });
        </script>
        <link rel="Stylesheet" href="{% static 'css/main.css' %}" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                    {% include 'sidebar.html' %}
                    {%comment%}{% block sidebar %}{% endblock sidebar %}{%endcomment%}
                    <main class="col py-3 ">
                        {% block content %}{% endblock content %}
                    </main>
            </div>
        </div>
    </body>
    <script>
        // Tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    </script>
    <script>
        // popups
        function showPopup(id){
            document.getElementById(id).style.display = "block";
        }
        function closePopup(id){
            document.getElementById(id).style.display = "none";
        }
    </script>
</html>
