
{%block sidebar%}

{%if user.is_authenticated%}
<!-- Security token -->
{% csrf_token %}

<nav class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100 sticky-top">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline ">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">Protokoly</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
                        <li class="nav-item">
                            <a href="{% url 'protocollist' %}" class="dropdown-item">
                                <span class="ms-1 d-none d-sm-inline">Przekazania</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'newprotocol' %}" class="dropdown-item">
                                <span class="ms-1 d-none d-sm-inline">Nowe przekazanie</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">Pracownicy</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
                        <li class="nav-item">
                            <a href="{% url 'employees' %}" class="dropdown-item">
                                <span class="ms-1 d-none d-sm-inline">Lista</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'newemployee' %}" class="dropdown-item">
                                <span class="ms-1 d-none d-sm-inline">Dodaj pracownika</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">Sprzęt</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
                        <li class="nav-item">
                            <a href="{% url 'itemsView' %}" class="dropdown-item">
                                <span class="ms-1 d-none d-sm-inline">Lista</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'itemsAddNew' %}" class="dropdown-item">
                                <span class="ms-1 d-none d-sm-inline">Dodaj sprzęt</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">Utylizacja</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
                        <li class="nav-item">
                            <a href="{% url 'utilization' %}" class="dropdown-item">
                                <span class="ms-1 d-none d-sm-inline">Lista</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="addUtilization()" class="dropdown-item">
                                <span class="ms-1 d-none d-sm-inline">Dodaj utylizacje</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <hr />
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Images.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1">{{ user.username }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li>
                    <a class="dropdown-item" href="#">TBA...</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    async function addUtilization(){
        // Get the token to form
        const token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        // Send the token
        var data = new FormData();
        data.append('csrfmiddlewaretoken', token);
        // Send request and wait for the response (json with pk field)
        var res = await fetch('/utilization/add_item', {
            method: 'POST',
            body: new URLSearchParams(data)
        });
        // Get pk from response and redirect to newly created utilization
        var d = await res.json();
        window.location.href = "{% url 'utilization' %}" + d.pk;
    }
</script>

{%endif%}
{%endblock sidebar%}
