{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}


<h1>Edycja Pracownika</h1>
<form method="POST" enctype="multipart/form-data">
 
    <!-- Security token -->
    {% csrf_token %}
 
    <!-- Using the formset -->
    {{ form|crispy }}
     {% if region == None %}
  <div id="div_id_item_region" class="form-group">
    <label for="id_item_region">Region</label>
    <div>
      <select id="id_item_region" name="region" class="w-25 m-2 select form-control">
        {% for r in regions %}
          <option value="{{r.id}}">{{r}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endif %}

    <button type="submit" class="btn btn-primary mt-3">Zapisz</button>
</form>
<script>
        $(document).ready(function () {
          $('#id_item_region').select2();
          $('#id_item_region').val("{{my_region}}").trigger("change");
        });
        
</script>

{% endblock content %}
