{% extends 'main.html' %}


{% block content %}
<h2>Sprzęt</h2>
<form action="{% url 'itemsView' %}" method="get">
    <input name="qtype" type="text" placeholder="Typ..." value='{{qtype_value}}'>
    <input name="qmodel" type="text" placeholder="Model..." value='{{qmodel_value}}'>
    <input name="qit" type="text" placeholder="IT..." value='{{qit_value}}'>
    <input name="qsn" type="text" placeholder="S/N..." value='{{qsn_value}}'>
    <input name="qkk" type="text" placeholder="KK..." value='{{qkk_value}}'>
    <input name="qused" type="checkbox" id="myCheckbox" value="true" {% if qused %}checked{% endif %}> Używany
    <input type='submit' value='Szukaj'>

</form>

<table class="table mb-0">
    <thead>
      <tr>
        <th scope="col">Typ</th>
        <th scope="col">Model</th>
        <th scope="col">IT</th>
        <th scope="col">S/N</th>
        <th scope="col">KK</th>
        <th scope="col">Aktualny właściciel</th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>

        {% for item in itemList %}
      <tr class="fw-normal">
        <td>
          <span>{{item.category}}</span>
        </td>
        <td class="align-middle">
          <span>{{item.item_model}}</span>
        </td>
        <td class="align-middle">
            <span>{{item.item_it}}</span>
          </td>
          <td class="align-middle">
            <span>{{item.item_sn|default_if_none:""}}</span>
          </td>
          <td class="align-middle">
            <span>{{item.item_kk|default_if_none:""}}</span>
          </td>
          <td class="align-middle"> 
            <a  class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{%url 'singleEmployee' item.item_user.id%}"role="button"><span>{{item.item_user|default_if_none:""}}</span></a>
          </td>
          
        <td class="align-middle">
            <a class="btn btn-success mb-1" href="{% url 'singleItem' item.id %}" role="button">Wyświetl</a>
          {% comment %} <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
              class="fas fa-trash-alt text-danger"></i></a> {% endcomment %}
        </td>
      </tr>

      {%endfor%} 

    </tbody>
  </table>
  <div class="card-footer text-end p-3">
    <a class="btn btn-primary mb-1" href="{% url 'itemsAddNew' %}" role="button">Nowy przedmiot</a>
  </div>

  <div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
          {% if itemList.has_previous %}
              <a href="?page=1&q={{q_value}}">&laquo; first</a>
              <a href="?page={{ itemList.previous_page_number }}&q={{q_value}}">previous</a>
          {% endif %}

            <span class="current">
                Page {{ itemList.number }} of {{ itemList.paginator.num_pages }}
            </span>

          {% if itemList.has_next %}
              <a href="?page={{ itemList.next_page_number }}&q={{q_value}}">next</a>
              <a href="?page={{ itemList.paginator.num_pages }}&q={{q_value}}">last &raquo;</a>
          {% endif %}
        </span>
        </div>
    </div>
  </div>   
  </div>    


 

{% endblock content %}