{% extends 'main.html' %}


{% block content %}
<h2>Sprzęt</h2>
<hr />
<form action="{% url 'itemsView' %}" method="get">
    <input name="qtype" type="text" placeholder="Typ..." value='{{qtype_value}}'>
    <input name="qmodel" type="text" placeholder="Model..." value='{{qmodel_value}}'>
    <input name="qit" type="text" placeholder="IT..." value='{{qit_value}}'>
    <input name="qsn" type="text" placeholder="S/N..." value='{{qsn_value}}'>
    <input name="qkk" type="text" placeholder="KK..." value='{{qkk_value}}'>
    <input name="qused" type="checkbox" id="myCheckbox" value="true" {% if qused %}checked{% endif %}> Używany
    <input type='submit' value='Szukaj'>

</form>

<table class="table mb-0">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Typ</th>
        <th scope="col">Data</th>
        <th scope="col">Producent</th>
        <th scope="col">Model</th>
        <th scope="col">IT</th>
        <th scope="col">S/N</th>
        <th scope="col">KK</th>
        <th scope="col">Aktualny właściciel</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

        {% for item in itemList %}
      <tr class="fw-normal">
        <td>
          <!-- TODO: Latin characters -->
          {% if item.utilization_id %}
            <font color="red" data-bs-toggle="tooltip" data-bs-placement="top" title="Przedmiot w utylizacji">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/></svg>
            </font>
          {% elif item.item_user %}
            <font color="green" data-bs-toggle="tooltip" data-bs-placement="top" title="Przedmiot ma wlasciciela">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/></svg>
            </font>
          {% else %}
            <font color="green" data-bs-toggle="tooltip" data-bs-placement="top" title="Przedmiot dostepny">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-check2-all" viewBox="0 0 16 16"><path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0"/><path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/></svg>
            </font>
          {% endif %}
        </td>
        <td>
          <span>{{item.category}}</span>
        </td>
        <td>
          <span>{{item.created}}</span>
        </td>
        <td>
          <span>{{item.item_producent}}</span>
        </td>
        <td>
          <span>{{item.item_model}}</span>
        </td>
        <td>
            <span>{{item.item_it}}</span>
          </td>
          <td>
            <span>{{item.item_sn|default_if_none:""}}</span>
          </td>
          <td>
            <span>{{item.item_kk|default_if_none:""}}</span>
          </td>
          <td> 
            {% if item.item_user %}
            <a  class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{%url 'singleEmployee' item.item_user.id%}"role="button"><span>{{item.item_user|default_if_none:""}}</span></a>
            {% endif %}
          </td>
          
        <td>
          <div class="btn-group">
            <a class="btn btn-secondary" href="{% url 'singleItem' item.id %}" role="button">Wyświetl</a>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'itemsEdit' item.id%}">Edycja</a></li>
            </ul>
          </div>

          {% comment %} <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
              class="fas fa-trash-alt text-danger"></i></a> {% endcomment %}
        </td>
      </tr>

      {%endfor%} 

    </tbody>
  </table>
  <div class="card-footer text-end p-3">
  </div>

  <div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
          {% if itemList.has_previous %}
              <a href="?page=1&q={{q_value}}">&laquo; first</a>
              <a href="?page={{ itemList.previous_page_number }}&q={{q_value}}">previous</a>
          {% endif %}

            <span class="current">
                Page {{ itemList.number }} of {{ itemList.paginator.num_pages }}
            </span>

          {% if itemList.has_next %}
              <a href="?page={{ itemList.next_page_number }}&q={{q_value}}">next</a>
              <a href="?page={{ itemList.paginator.num_pages }}&q={{q_value}}">last &raquo;</a>
          {% endif %}
        </span>
        </div>
    </div>
  </div>   
  </div>    


 

{% endblock content %}
