{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}



<h1>Edycja sprzętu</h1>
<form method="POST" enctype="multipart/form-data">

  <!-- Security token -->
  {% csrf_token %}

  <!-- Using the formset -->
  {{ itemForm|crispy }}

  {% if region == None %}
  <div id="div_id_item_region" class="form-group">
    <label for="id_item_region">Region</label>
    <div>
      <select id="id_item_region" name="region" class="w-25 m-2 select form-control">
        {% for r in regions %}
          <option value="{{r.id}}">{{r}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endif %}

  {% comment %} <button id="show-employee-btn" class="btn btn-secondary mt-3" type="button">Dodaj pracownika</button> {% endcomment %}
  <hr>

   
  <button type="submit" class="btn btn-success mt-3" name="saveAndEnd">Zapisz</button>

</form>


<script>
        {% comment %} $(document).ready(function() {
            $('#show-employee-btn').click(function() {
                $('#search-items').toggle();
                $('#show-employee-btn').hide();
            });
        }); {% endcomment %}
        $(document).ready(function () {
          $('#id_item_region').select2();
          $('#id_item_region').val("{{my_region}}").trigger("change");
          $('#search-employee').select2({
            ajax: {
              url: '/get_filtered_employees/',
              dataType: 'json',
              delay: 250,
              data: function (params) {
                print('xd')
              },
              processResults: function (data) {
                print('xd')
              },
              cache: true,
            },
            minimumInputLength: 1,
          });
        });
        
</script>
{% endblock content %}
