{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}



<h1>Nowy sprzęt</h1>
{{region.id}}
<form method="POST" enctype="multipart/form-data">

  <!-- Security token -->
  {% csrf_token %}

  <!-- Using the formset -->
  {{ itemForm|crispy }}
  <button class="btn btn-secondary" type="button" onclick="toggleAdvanced()">Zaawansowane</button>
  <div id="div_id_item_user" class="form-group">
    <label for="id_item_user">Pracownik</label>
    <div>
      <select id="id_item_user" name="item_user" class="w-25 m-2 select form-control">
        <option value="" selected="">---------</option>
      </select>
    </div>
  </div>
  {% if region == None %}
  <div id="div_id_item_region" class="form-group">
    <label for="id_item_region">Region</label>
    <div>
      <select id="id_item_region" name="region" class="w-25 m-2 select form-control">
        {% for r in regions %}
          <option value="{{r.id}}">{{r}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endif %}
  {% comment %} <button id="show-employee-btn" class="btn btn-secondary mt-3" type="button">Dodaj pracownika</button> {% endcomment %}
  <hr>
  <button type="submit" class="btn btn-success mt-3" name="saveAndEnd">Zapisz</button>
</form>
<script>
        // When page is ready
        $(document).ready(function () {
          // Init select2 for #id_item_user
          $('#id_item_user').select2({
            // Use AJAX to call to API2 to get the list of employees
            ajax: {
              url: "{% url 'employee-list' %}",
              delay: 300,
              dataType: 'json',
              data: function(params){
                return {
                  search: params.term,
                  limit: 10
                }
              },
              processResults: function(data){
                // We get raw data, so we are formating it that select2 can work with them
                return {
                  results: data.results.map(e => {
                    return {id: e.id, text: e.user_name + ' ' + e.user_surname}
                  })
                }
              },
            }
          });
          
          // Hide advanced options
          document.getElementById('div_id_item_user').style.display = "none";
          {% if region == None %}
            $('#id_item_region').select2();
            document.getElementById('div_id_item_region').style.display = "none";
          {% endif %}

        });

        let shown = false;
        function toggleAdvanced(){
          let div_id_item_user = document.getElementById('div_id_item_user');
          if(shown){
            div_id_item_user.style.display = "none";
            {% if region == None %}
              document.getElementById('div_id_item_region').style.display = "none";
            {% endif %}
          } else{
            div_id_item_user.style.display = "block";
            {% if region == None %}
              document.getElementById('div_id_item_region').style.display = "block";
            {% endif %}
          }
          shown = !shown;
        }
        
</script>
{% endblock content %}
