{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}



  <h1>Nowy protokół</h1>
  <form method="POST" enctype="multipart/form-data">
 
    <!-- Security token -->
    {% csrf_token %}
 
    <!-- Using the formset -->
    {{ protocolForm|crispy }}
    <hr>
    {{ itemForm|crispy }}
     
    <button type="submit" class="btn btn-primary mt-3" name="saveAndEnd">Zapisz</button>
    <button type="submit" class="btn btn-secondary mt-3" name="saveAndContinue">Dodaj Kolejny</button>
</form>

{% endblock content %}