{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}



  <h1>Nowe przekazanie</h1>
  <form method="POST" enctype="multipart/form-data">
    <!-- Security token -->
    {% csrf_token %}
    <!-- Using the formset --> 
    <div id="div_id_employee" class="form-group">
      <label for="search-employee" class=" requiredField">Pracownik<span class="asteriskField">*</span></label> 
      <div> 
        <select name="employee" class="w-25 m-2 select form-control select2-hidden-accessible" id="search-employee" required="" tabindex="-1" aria-hidden="true" data-select2-id="select2-data-search-employee"> 
          <!-- If page redirected from employee page, add that employee as default -->
          {% if employee %}
          <option value="{{employee.id}}" selected data-select2-id="select2-data-11-591n">{{employee.user_name}}  {{employee.user_surname}}</option>
          {% else%}
          <option value="" selected data-select2-id="select2-data-11-591n">---------</option>
          {% endif %}
        </select>
      </div>
    </div>
    <div id="div_id_item" class="form-group">
       <label for="search-items" class=" requiredField">Przedmiot<span class="asteriskField">*</span> </label> 
       <div data-select2-id="select2-data-28-4whr"> 
         <select name="item" class="w-25 m-2 select form-control select2-hidden-accessible" id="search-items" required="" tabindex="-1" aria-hidden="true" data-select2-id="select2-data-search-items"> 
          <option value="" selected="" data-select2-id="select2-data-10-iflm">---------</option>
         </select>
       </div> 
    </div>
    {{ protocolForm|crispy }}
{% if region == None %}
  <div id="div_id_item_region" class="form-group">
    <label for="id_item_region">Region</label>
    <div>
      <select id="id_item_region" name="region" class="w-25 m-2 select form-control">
        {% for r in regions %}
          <option value="{{r.id}}">{{r}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endif %}

    <hr>
    {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
        
          <strong>Uwaga!</strong> {{message}}.
   
        {% endfor %}
    </div>
{% endif %}
    <button type="button" class="btn btn-primary mt-3" onclick="step()">Zapisz</button>
    <!-- <button type="button" onclick="step()" class="btn btn-success mt-3" name="saveAndEnd">Zapisz</button> -->
    <button type="button" onclick="addItem()" class="btn btn-secondary mt-3" name="saveAndContinue">Dodaj Kolejny</button>
</form>
<!-- <span class="popup" id="popup1" onclick="closePopup('popup1')"> -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Czy na pewno chcesz utworzyć protokół?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid" id="modalRowsContainer"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="send()">Utwórz</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
<span class="popup" id="popup1">
  <span class="popup-cnt">
    <section class="popup-title">Czy na pewno chcesz utworzyc nowe przekazanie?<hr /></section>
    <section class="popup-msg" id="popup1table">
      <table class="table w-100"></table>
    </section>
    <section class="popup-btns pt-1">
      <button type="button" onclick="send()" class="btn btn-success mx-3">Tak</button>
      <button type="button" onclick="closePopup('popup1')" class="btn btn-danger mx-3">Nie</button>
    </section>
  </span>
</span>
<!-- <span class="popup" id="popup2" onclick="closePopup('popup2')"> -->
<span class="popup" id="popup2">
  <span class="popup-cnt">
    <section class="popup-title">Pole pracownik jest wymagane.<hr /></section>
    <section class="popup-msg"></section>
    <section class="popup-btns">
      <button type="button" onclick="closePopup('popup2')" class="btn btn-success mx-3">OK</button>
    </section>
  </span>
</span> 
<!-- <span class="popup" id="popup3" onclick="closePopup('popup3')"> -->
<span class="popup" id="popup3">
  <span class="popup-cnt">
    <section class="popup-title">Pole przedmiot jest wymagane.<hr /></section>
    <section class="popup-msg"></section>
    <section class="popup-btns">
      <button type="button" onclick="closePopup('popup3')" class="btn btn-success mx-3">OK</button>
    </section>
  </span>
</span> 
<!-- <span class="popup" id="popup4" onclick="closePopup('popup4')"> -->
<span class="popup" id="popup4">
  <span class="popup-cnt">
    <section class="popup-title">Zduplikowany przedmiot.<hr /></section>
    <section class="popup-msg" id="popup4msg"></section>
    <section class="popup-btns">
      <button type="button" onclick="closePopup('popup4')" class="btn btn-success mx-3">OK</button>
    </section>
  </span>
</span>

<script type="text/javascript">

  const select2conf = {
    // Use AJAX to call to API2 to get the list of items
    ajax: {
      url: "{% url 'item-list' %}",
      dataType: 'json',
      delay: 300,
      data: function(params){
        // item_user true because value of that field is null, we dont want to search used items
        return {
          item_user: true,
          utilization_id: true,
          search: params.term,
          limit: 10
        }
      },
      processResults: function(data){
        // We get raw data, so we are formating it that select2 can work with them
        return {
          results: data.results.map(e => {
            return {id: e.id, text: e.item_it + ' ' + e.item_sn + ' ' + e.item_model}
          })
        }
      },
    }
  };
  $(document).ready(function() {
      // Initialize select2
      //$('.select2field').select2(select2conf);
      $('#search-employee').select2({
      // Use AJAX to call to API2 to get the list of employees
      ajax: {
        url: "{% url 'employee-list' %}",
        delay: 300,
        dataType: 'json',
        data: function(params){
          return {
            search: params.term,
            limit: 10
          }
        },
        processResults: function(data){
          // We get raw data, so we are formating it that select2 can work with them
          return {
            results: data.results.map(e => {
              return {id: e.id, text: e.user_name + ' ' + e.user_surname}
            })
          }
        },
      }
    });
    $('#search-items').select2(select2conf);

    {% if region == None %}
      $('#id_item_region').select2();
    {% endif %}

    // Add event listener to search-items 
    $('#search-items').on('select2:select', () => {
      // Add new search-item and get its id
      var ix = addItem();
      // Open newly created select
      $('#search-items' + ix).select2('open');
    });
  });

  async function step(){
    const employee = document.getElementById('search-employee').value;
    const items = document.getElementsByName('item'); // Gets all fields with name=item
    // Validate employee
    if(!employee){
      // alert('Pope pracownik jest wymagane.');
      showPopup('popup2');
      return;
    }
   
    // Validate items
    var seen = [];
    for(var item of items){
      if(!item.value) continue;
      if(seen.includes(item.value)){
        // Alert user with name (got from span)
        // alert("Zduplikowany przedmiot " + item.parentElement.children[1].innerText);
        document.getElementById('popup4msg').innerHTML = "Przedmiot: " + item.parentElement.children[1].innerText;
        showPopup('popup4');
        return;
      }
      seen.push(item.value);
    }

    if(seen.length <= 0){
      // alert('Podaj przynajmniej jeden przedmiot.');
      showPopup('popup3');
      return;
    }


    const modalRowsContainer = document.getElementById('modalRowsContainer');
  
    // Clear the container before adding new rows
    modalRowsContainer.innerHTML = '';

    const headerRow = `
    <div class="row font-weight-bold">
      <div class="col-3"><strong>Typ</strong></div>
      <div class="col-3"><strong>IT</strong></div>
      <div class="col-3"><strong>SN</strong></div>
      <div class="col-3"><strong>KK</strong></div>
    </div>
  `;
  modalRowsContainer.innerHTML += headerRow;
  
    for (let e of seen) {
      let res = await fetch(`{% url 'item-list' %}${e}`);
      let data = await res.json();
      console.log(data);

      // Create a new row div
      let rowDiv = document.createElement('div');
      rowDiv.className = 'row';
      
      // Create and append individual columns
      {
        let colDiv = document.createElement('div');
        colDiv.className = 'col-3 mt-3';
        colDiv.textContent = data.category.category_name;
        rowDiv.appendChild(colDiv);
      }
      ['item_it', 'item_sn', 'item_kk'].forEach(field => {
        let colDiv = document.createElement('div');
        colDiv.className = 'col-3 mt-3';
        colDiv.textContent = data[field];
        rowDiv.appendChild(colDiv);
      });
      // Append the row to the container
      modalRowsContainer.appendChild(rowDiv);
    }

    const modal = new bootstrap.Modal(document.getElementById('exampleModal'));
    modal.show();


  }

  async function send(){
    // Get data from form, including token
    const token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    const employee = document.getElementById('search-employee').value;
    const items = document.getElementsByName('item'); // Gets all fields with name=item
    const protocolDescription = document.getElementById('protocolDescription').value;

    // Validate employee
    if(!employee){
      alert('Pope pracownik jest wymagane.');
      return;
    }
   
    // Validate items
    var seen = [];
    for(var item of items){
      if(!item.value) continue;
      if(seen.includes(item.value)){
        // Alert user with name (got from span)
        alert("Zduplikowany przedmiot " + item.parentElement.children[1].innerText);
        return;
      }
      seen.push(item.value);
    }

    // Variable with pk
    var id = undefined;

    // Send each item to server
    for(var item of items){
      // Skipp if empty
      if(!item.value){
        console.log('skipped');
        continue;
      }

      // Create form-loke data
      var data = new FormData();
      data.append('csrfmiddlewaretoken', token);
      data.append('employee', employee);
      data.append('item', item.value);
      data.append('description', protocolDescription);

      {% if region == None %}
    const region = document.getElementsByName('region')[0].value;
      data.append('region', region);
      {% endif %}

      // If we have pk send it too
      if(id != undefined)
        data.append('pk', id);
      console.log(id);

      // Send data and wait for response
      var res = await fetch('/new_protocol/add', { 
        method: "POST",
        body: new URLSearchParams(data),
      });

      // Response is in JSON format
      d = await res.json();

      // Get pk
      id = d.pk;
    }

    if(id == undefined){
      alert('Podaj przynajmniej jeden przedmiot.');
      return;
    }

    // Redirect to the protocol
    window.location.href = "{% url 'protocollist' %}" + id;
  }

  // This variable holds search-item id
  var id = 0;
  function addItem(){
    // Get div where we're willing to add new field
    var div_id_item = document.getElementById('div_id_item');

    // Clone first field, change its id, remove span (will be added by jQuery), then append to div
    var field = div_id_item.getElementsByTagName('div')[0].cloneNode(true);
    field.getElementsByTagName('select')[0].id += id;
    field.removeChild(field.children[1]);
    div_id_item.appendChild(field);

    // A 'lil trick here, for some reason we must update both new and the very first field in that order
    // Otherwise it breaks everything
    $('#search-items' + id).select2(select2conf);
    $('#search-items').select2(select2conf);
    $('#search-items' + id).select2(select2conf);

    // Add event listener to search-items 
    $('#search-items' + id).on('select2:select', () => {
      // Add new search-item and get its id
      var ix = addItem();
      // Open newly created select
      $('#search-items' + ix).select2('open');
    });

    var x = document.createElement('button');
    x.classList.add('btn');
    x.classList.add('btn-danger');
    x.classList.add('py-0');
    x.classList.add('px-2');
    x.innerHTML = "X";
    x.addEventListener('click', () => {
      div_id_item.removeChild(field);
    });
    field.appendChild(x);

    // Meke next id unique
    return id++;
  }
</script>



{% endblock content %}
