{% extends 'main.html' %}


{% block content %}



  <h2>Protokoły </h2>





  <div class="card w-100" >
    <ul class="list-group list-group-flush">

      {% for protocol in protocolList %}
        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 " href="{% url 'singleProtocol' protocol.id%}">
        <li class="list-group-item">{{protocol.id}} | {{protocol.employee}} | {{protocol.created}} | {{protocol.is_return|yesno:"Zwrot,Przekazanie"}}</li>
        </a>
      
      
      {%endfor%}  

    </ul>
  </div>
  



{% endblock content %}