{% extends 'main.html' %}


{% block content %}



  <h2>Protokoły </h2>
  <form action="{% url 'protocollist' %}" method="get">
    <input name="qname" type="text" placeholder="Imię..." value='{{qname_value}}'>
    <input name="qsurname" type="text" placeholder="Nazwisko..." value='{{qsurname_value}}'>
    <input name="qdate" type="text" placeholder="Data: dd.mm.yyyy" pattern="((3[0-1])|([1-2][0-9])|(0[1-9]))\.((0[1-9])|(1[0-2]))\.[1-9][0-9]{3}" value='{{qdate_value}}'>
    <input type='submit' value='Szukaj'>

  </form>




  <div class="col py-3" >
    <table class="table mb-0">
      <tr>
        <th scope="col">Kod</th>
        <th scope="col">Pracownik</th>
        <th scope="col">Data</th>
        <th scope="col">Typ</th>
        <th scope="col"></th>
      </tr>

      {% for protocol in protocolList %}
        <tr class="fw-normal">
          <td>{{protocol.barcode}}</td>
          <td>{{protocol.employee}}</td>
          <td>{{protocol.created|date:"d/m/Y"}}</td>
          <td>{{protocol.is_return|yesno:"Zwrot,Przekazanie"}}</td>
          <td><a class="btn btn-success mb-1" role="button" href="{% url 'singleProtocol' protocol.id %}">Wyswietl</a></td>
        </tr>
      
      {%endfor%}  

    </table>
  </div>

  <div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
          {% if protocolList.has_previous %}
              <a href="?page=1&q={{q_value}}">&laquo; first</a>
              <a href="?page={{ protocolList.previous_page_number }}&q={{q_value}}">previous</a>
          {% endif %}

            <span class="current">
                Page {{ protocolList.number }} of {{ protocolList.paginator.num_pages }}
            </span>

          {% if protocolList.has_next %}
              <a href="?page={{ protocolList.next_page_number }}&q={{q_value}}">next</a>
              <a href="?page={{ protocolList.paginator.num_pages }}&q={{q_value}}">last &raquo;</a>
          {% endif %}
        </span>
        </div>
    </div>
  <!--end of Pagination-->
  

{% endblock content %}
