{% extends 'main.html' %}


{% block content %}
<a class="btn btn-dark" href="{% url 'singleEmployee' employee.id %}" role="button">Sprzęt</a>




    <div class="container text-center">
        <div class="row">
          <div class="col"><b>ID</b></div>
          <div class="col-2"><b>Data Przekazania: </b></div>
          <div class="col-2"><b>xx: </b></div>
          <div class="col"><b>Działanie: </b></div>
          <div class="col-6"></div>

        {% for protocol in protocols%}


        {% for key, value in dataSet.items %}


        {% if key == protocol.id %}

            
        

        <hr>
            <div class="row mt-2">
                <div class="col">{{protocol.id}}</div>
                <div class="col-2">{{protocol.created}}</div>
                <div class="col-2">{{item.item_sn|default_if_none:""}}</div>
                <div class="col">{{protocol.is_return|yesno:"Zwrot,Przekazanie"}}</div>
                <div class="col-6">
                    {% for item in value %}
                    {{item.item_id.item_name|default_if_none:""}}  {{item.item_id.item_it|default_if_none:""}}<br>
                    {% endfor%}

                </div>
                
            </div>
            {% endif%}

            {% endfor%}
        {%endfor%}  
        <hr>

    </div>





{% endblock content %}