
{% extends 'main.html' %}
{% load static %}

{% block content %}



  <h2>{{protocol.is_return|yesno:"Zwrot,Przekazanie"}} dla {{protocol.employee}} z {{protocol.created|date:"d.m.Y"}}</h2>
  <b>Sporządzony przez:  </b>{{protocol.created_by.first_name}} {{protocol.created_by.last_name}}<br><br>
  <form action="{% url 'protocolRaportToPrint' %}" method="get">
    <button class="btn btn-dark  me-5" role="button" type="submit" name='protocol' value='{{protocol.id}}'>Drukuj</button>
    {% if not protocol.is_scanned %}
    <a class="btn btn-secondary mb-1 disabled"  role="button" >PDF</a>
    {% else %}
    <a class="btn btn-success mb-1" href="{% static 'protocols/'|add:protocol.barcode|add:'.pdf' %}" role="button" >PDF</a>
    {% endif %}
  </form>
  <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
    <li class="nav-item flex-sm-fill">
      <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Sprzęt</a>
    </li>
    <li class="nav-item flex-sm-fill">
      <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Informacje</a>
    </li>

  </ul>
  <div id="myTabContent" class="tab-content">
    <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
      
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col">Typ</th>
            <th scope="col">Model</th>
            <th scope="col">IT</th>
            <th scope="col">S/N</th>
            <th scope="col">KK</th>
            <th scope="col"></th>
            
          </tr>
        </thead>
        <tbody>
    
            {% for item in items %}
          <tr class="fw-normal">
            <td>
              <span>{{item.item_id.category}}</span>
            </td>
            <td class="align-middle">
              <span>{{item.item_id.item_model}}</span>
            </td>
            <td class="align-middle">
                <span>{{item.item_id.item_it}}</span>
              </td>
              <td class="align-middle">
                <span>{{item.item_id.item_sn|default_if_none:""}}</span>
              </td>
              <td class="align-middle">
                <span>{{item.item_id.item_kk|default_if_none:""}}</span>
              </td>
              
            <td class="align-middle">
                <a class="btn btn-success mb-1" href="{% url 'singleItem' item.item_id.id %}" role="button">Wyświetl</a>
              {% comment %} <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                  class="fas fa-trash-alt text-danger"></i></a> {% endcomment %}
            </td>
          </tr>
    
          {%endfor%} 
    
        </tbody>
      </table>



    </div>
    <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Barcode:</b> {{protocol.barcode}}</li>
        <li class="list-group-item"><b>Osoba odbierająca:</b> {{protocol.employee}}</li>
        <li class="list-group-item"><b>Osoba przekazująca:</b> {{protocol.created_by.first_name}} {{protocol.created_by.last_name}}</li>
        <li class="list-group-item"><b>Data przekazania:</b> {{protocol.created|date:"d.m.Y"}}</li>
        <li class="list-group-item"><b>Typ:</b> {{protocol.is_return|yesno:"Zwrot,Przekazanie"}}</li>
        <li class="list-group-item"><b>Lokalizacja:</b> {{protocol.employee.user_location}}</li>
        <li class="list-group-item"><b>Dział:</b> {{protocol.employee.user_department}}</li>
        <li class="list-group-item"><b>Wydrukowany:</b> TAK/NIE......TBA</li>
      </ul>


    </div>

  </div>



  <script>
    $(document).ready(function() {
      // Activate the first tab
      $('#myTab a:first').tab('show');
      
      // Handle tab click event
      $('#myTab a').on('click', function(event) {
        event.preventDefault();
        $(this).tab('show');
      });


    });
  </script>
{% endblock content %}