{% extends 'main.html' %}


{% block content %}

<nav class="navbar navbar-expand-lg" style="background-color:#DBD5D3;">
    <div class="container-fluid">
      <h3 class="text-black">{{employee}}</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-center mx-5 mb-lg-0">
                      <li class="nav-item">
            <a class="btn btn-light me-2" href="{% url 'singleEmployeeProtocols' employee.id %}" role="button">Protokoły</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success me-2" href="{% url 'newprotocol'  %}?eid={{employee.id}}" role="button">Dodaj sprzęt</a>
          </li>


          <li class="nav-item">
            <form id="returnItemForm" action="{% url 'employeeReturns' employee.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="idList" id="idListInput">
                <button type="submit" class="btn btn-danger me-2">Zdaj sprzęt</button>
              </form>
          </li>
        </ul>
        <form class="d-flex ms-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>









{% comment %} 

        <div class="row">
          <div class="col-2 text-center"><b>Typ </b></div>
          <div class="col text-center"><b>Model</b></div>
          <div class="col-2 text-center bg-primary"><b>IT</b></div>
          <div class="col text-center"><b>SN</b></div>
          <div class="col text-center"><b>KK</b></div>
          <div class="col text-center"></div>
          <div class="col-2 text-center"></div>

        {% for item in items%}
        <hr>
            <div class="row mt-2">
                <div class="col-2 text-center">{{item.category}}</div>
                <div class="col text-center">{{item.item_model}}</div>
                <div class="col-2 text-center bg-primary">{{item.item_it|default_if_none:""}}</div>
                <div class="col text-center">{{item.item_sm|default_if_none:""}}</div>
                <div class="col text-center">{{item.item_kk|default_if_none:""}}</div>

                <div class="col-2"></div>
                <div class="col text-center mb-2"><a class="btn btn-primary" href="{% url 'singleItem' item.id %}" role="button">Wyświetl</a></div>
                <div class="col "><a class="btn btn-danger zdajBtn"  role="button" data-item-id="{{item.id}}">Zdaj</a></div>
                
            </div>
            
        {%endfor%}  
        <hr> {% endcomment %}








    <table class="table mb-0">
      <thead>
        <tr>
          <th scope="col">Typ</th>
          <th scope="col">Producent</th>
          <th scope="col">Model</th>
          <th scope="col">IT</th>
          <th scope="col">S/N</th>
          <th scope="col">KK</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
  
          {% for item in items %}
        <tr class="fw-normal">
          <td>
            <span>{{item.category}}</span>
          </td>
          <td>
            <span>{{item.item_producent}}</span>
          </td>
          <td class="align-middle">
            <span>{{item.item_model}}</span>
          </td>
          <td class="align-middle">
              <span>{{item.item_it}}</span>
            </td>
            <td class="align-middle">
              <span>{{item.item_sn|default_if_none:""}}</span>
            </td>
            <td class="align-middle">
              <span>{{item.item_kk|default_if_none:""}}</span>
            </td>
            
          <td>
            <a class="btn btn-primary" href="{% url 'singleItem' item.id %}" role="button">Wyświetl</a>

            <a class="btn btn-danger zdajBtn"  role="button" data-item-id="{{item.id}}">Zdaj</a>

          </td>
          
        </tr>
  
        {%endfor%} 
  
      </tbody>
    </table>  






    <script>
        // Define an empty array to store the IDs
        var idList = [];
        var submitForm = document.getElementById("returnItemForm");
        submitForm.style.display = "none";
        // Function to handle button click
        function handleButtonClick(event) {
            // Get the button element
            var button = event.target;

            // Get the data-item-id attribute value
            var itemId = button.getAttribute("data-item-id");

            // Check if the itemId is already in the idList
            if (!idList.includes(itemId)) {
                // Append the itemId to the idList
                idList.push(itemId);

                // Disable the button
                button.disabled = true;

                // Change the class of the button
                button.className = "btn btn-secondary zdajBtn";
                var idListInput = document.getElementById("idListInput");
                idListInput.value = JSON.stringify(idList);


                submitForm.style.display = "block";



                // Print the updated idList
                console.log(idList);
            }
        }

        // Get all buttons with "zdajBtn" in their class
        var buttons = document.querySelectorAll(".zdajBtn");

        // Attach the handleButtonClick function to each button's click event
        buttons.forEach(function(button) {
            button.addEventListener("click", handleButtonClick);
        });
    </script>




{% endblock content %}