{% extends 'main.html' %}


{% block content %}

<section class="titlebar">
  <h1 class="title-float">Informacje o utylizacji </h1>
  {% if not utilization.company_transfer_date %}
    <a class="btn-title btn btn-danger me-2" href="{% url 'utilizationFinalization' utilization.id %}" role="button">Finalizuj</a>
    <a class="btn-title btn btn-success me-2" href="{% url 'utilizationAddItem' %}?pk={{utilization.id}}" role="button">Dodaj sprzet</a>
  {% endif%}
</section>

        <ul id="myTab" role="tablist" style="clear: both;" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
          <li class="nav-item flex-sm-fill">
            <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Sprzet</a>
          </li>
          <li class="nav-item flex-sm-fill">
            <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Informacje</a>
          </li>
      
        </ul>

        <div id="myTabContent" class="tab-content">
          <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">


    <table class="table mb-0">
      <thead>
        <tr>
          <th scope="col">Typ</th>
          <th scope="col">Producent</th>
          <th scope="col">Model</th>
          <th scope="col">IT</th>
          <th scope="col">S/N</th>
          <th scope="col">KK</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
  
          {% for item in items %}
        <tr class="fw-normal">
          <td>
            <span>{{item.category}}</span>
          </td>
          <td>
            <span>{{item.item_producent}}</span>
          </td>
          <td>
            <span>{{item.item_model}}</span>
          </td>
          <td>
              <span>{{item.item_it}}</span>
            </td>
            <td>
              <span>{{item.item_sn|default_if_none:""}}</span>
            </td>
            <td>
              <span>{{item.item_kk|default_if_none:""}}</span>
            </td>
            
          <td>
            <a class="btn btn-primary" href="{% url 'singleItem' item.id %}" role="button">Wyświetl</a>
            {% if not utilization.company_transfer_date %}
              <a class="btn btn-danger" href="{% url 'utilizationDeleteItem' utilization.id item.id %}" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/></svg>
              </a>
            {% endif %}
          </td>
          
        </tr>
  
        {%endfor%} 
  
      </tbody>
    </table>  


          </div>
          <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Data utworzenia:</b> {{utilization.created}}</li>
              <li class="list-group-item"><b>DZM:</b> {{utilization.inform_dzm|yesno:"Tak,Nie"}}</li>
              <li class="list-group-item"><b>Liczba sprzetu:</b> {{items.count}}</li>
              {% if utilization.company_transfer_date %}
                <li class="list-group-item"><b>Firma utylizacyjna:</b> {{utilization.utilization_company}}</li>
                <li class="list-group-item"><b>Data oddania do utylizacji:</b> {{utilization.company_transfer_date}}</li>
              {% endif %}
              {% if utilization.utilization_protocol_scan %}
                <a class="btn btn-success mb-1" href="{% url 'singleUtilizationScan' utilization.id %}" role="button" >PDF</a>
              {% endif %}
            </ul>
          </div>
        </div>


    <script>
        // Define an empty array to store the IDs
        var idList = [];
        var submitForm = document.getElementById("returnItemForm");
        submitForm.style.display = "none";
        // Function to handle button click
        function handleButtonClick(event) {
            // Get the button element
            var button = event.target;

            // Get the data-item-id attribute value
            var itemId = button.getAttribute("data-item-id");

            // Check if the itemId is already in the idList
            if (!idList.includes(itemId)) {
                // Append the itemId to the idList
                idList.push(itemId);

                // Disable the button
                button.disabled = true;

                // Change the class of the button
                button.className = "btn btn-secondary zdajBtn";
                var idListInput = document.getElementById("idListInput");
                idListInput.value = JSON.stringify(idList);


                submitForm.style.display = "block";



                // Print the updated idList
                console.log(idList);
            }
        }

        // Get all buttons with "zdajBtn" in their class
        var buttons = document.querySelectorAll(".zdajBtn");

        // Attach the handleButtonClick function to each button's click event
        buttons.forEach(function(button) {
            button.addEventListener("click", handleButtonClick);
        });
    </script>

    <script>
          $(document).ready(function() {
            // Activate the first tab
            $('#myTab a:first').tab('show');
            
            // Handle tab click event
            $('#myTab a').on('click', function(event) {
              event.preventDefault();
              $(this).tab('show');
            });
          });
        </script>



{% endblock content %}
