{% extends 'main.html' %}


{% block content %}

<section class="titlebar">
  <h3 class="text-black title-float">{{employee}}</h3>
  <a class="btn-title btn btn-secondary me-2" href="{% url 'singleEmployeeProtocols' employee.id %}" role="button">Protokoły</a>
  <a class="btn-title btn btn-success me-2" href="{% url 'newprotocol'  %}?eid={{employee.id}}" role="button">Dodaj sprzęt</a>
  <form id="returnItemForm" action="{% url 'employeeReturns' employee.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="idList" id="idListInput">
      <button type="submit" class="btn-title btn btn-danger me-2">Zdaj sprzęt</button>
  </form>
</section>




    <table class="table mb-0">
      <thead>
        <tr>
          <th scope="col">Typ</th>
          <th scope="col">Date</th>
          <th scope="col">Producent</th>
          <th scope="col">Model</th>
          <th scope="col">IT</th>
          <th scope="col">S/N</th>
          <th scope="col">KK</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
  
          {% for item in items %}
        <tr class="fw-normal">
          <td>
            <span>{{item.category}}</span>
          </td>
          <td>
            <span>{{item.created|date:"d.m.Y G:i:s"}}</span>
          </td>
         <td>
            <span>{{item.item_producent}}</span>
          </td>
          <td class="align-middle">
            <span>{{item.item_model}}</span>
          </td>
          <td class="align-middle">
              <span>{{item.item_it}}</span>
            </td>
            <td class="align-middle">
              <span>{{item.item_sn|default_if_none:""}}</span>
            </td>
            <td class="align-middle">
              <span>{{item.item_kk|default_if_none:""}}</span>
            </td>
            
          <td>
            <a class="btn btn-primary" href="{% url 'singleItem' item.id %}" role="button">Wyświetl</a>

            <a class="btn btn-danger zdajBtn"  role="button" data-item-id="{{item.id}}">Zdaj</a>

          </td>
          
        </tr>
  
        {%endfor%} 
  
      </tbody>
    </table>  






    <script>
        // Define an empty array to store the IDs
        var idList = [];
        var submitForm = document.getElementById("returnItemForm");
        submitForm.style.display = "none";
        // Function to handle button click
        function handleButtonClick(event) {
            // Get the button element
            var button = event.target;

            // Get the data-item-id attribute value
            var itemId = button.getAttribute("data-item-id");

            // Check if the itemId is already in the idList
            if (!idList.includes(itemId)) {
                // Append the itemId to the idList
                idList.push(itemId);

                // Disable the button
                button.disabled = true;

                // Change the class of the button
                button.className = "btn btn-secondary zdajBtn";
                var idListInput = document.getElementById("idListInput");
                idListInput.value = JSON.stringify(idList);


                submitForm.style.display = "block";



                // Print the updated idList
                console.log(idList);
            }
        }

        // Get all buttons with "zdajBtn" in their class
        var buttons = document.querySelectorAll(".zdajBtn");

        // Attach the handleButtonClick function to each button's click event
        buttons.forEach(function(button) {
            button.addEventListener("click", handleButtonClick);
        });
    </script>




{% endblock content %}
