{% extends 'main.html' %}


{% block content %}
<section class="titlebar">
  <h3 class="text-black title-float">{{employee}}</h3>
  <a class="btn-title btn btn-secondary me-2" href="{% url 'singleEmployee' employee.id %}" role="button">Sprzęt</a>
</section>

  <table class="table mb-0">
    <thead>
      <tr>
        <th scope="col">Data przekazania</th>
        <th scope="col">Pracownik</th>
        <th scope="col">Działanie</th>
        <th scope="col">Sprzęt</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for protocol in protocols%}
      {% for key, value in dataSet.items %}
      {% if key == protocol.id %}
      <tr class="fw-normal">
        <td>
          <span>{{protocol.created|date:"d.m.Y G:i"}}</span>
        </td>
        <td class="align-middle">
          <span>{{protocol.employee}}</span>
        </td>
        <td class="align-middle">
            <span>{{protocol.is_return|yesno:"Zwrot,Przekazanie"}}</span>
          </td>
          <td class="align-middle">
            <span>                    
              {% for item in value %}
               {{item.item_id.item_it|default_if_none:""}} <b> -- </b> {{item.item_id.item_sn|default_if_none:""}} <br>
              {% endfor%}</span>
          </td>
          <td class="align-middle">
            <span><a class="btn btn-primary" href="{%url 'singleProtocol' protocol.id%}"role="button">Wyświetl</a></span>
          </td>
          
        
      </tr>

      {% endif%}

      {% endfor%}
  {%endfor%}  

    </tbody>
  </table>  


{% comment %} 

    <div class="container text-center mt-5">
        <div class="row">
          <div class="col"><b>ID</b></div>
          <div class="col-2"><b>Data Przekazania</b></div>
          <div class="col-2"><b>Pracownik</b></div>
          <div class="col"><b>Działanie</b></div>
          <div class="col-3"><b>Sprzęt</b></div>
          <div class="col"></div>

        {% for protocol in protocols%}
        {% for key, value in dataSet.items %}
        {% if key == protocol.id %}

        <hr>
            <div class="row m-1">
                <div class="col">{{protocol.id}}</div>
                <div class="col-2">{{protocol.created}}</div>
                <div class="col-2">{{protocol.employee}}</div>
                <div class="col">{{protocol.is_return|yesno:"Zwrot,Przekazanie"}}</div>
                <div class="col-3">
                    {% for item in value %}
                    {{item.item_id.item_name|default_if_none:""}}  {{item.item_id.item_it|default_if_none:""}}<br>
                    {% endfor%}
                    
                </div>
                <div class="col"><a class="btn btn-primary" href="{%url 'singleProtocol' protocol.id%}"role="button">Wyświetl</a></div>
                
            </div>
            {% endif%}

            {% endfor%}
        {%endfor%}  
        <hr>

    </div> {% endcomment %}





{% endblock content %}
