{% extends 'main.html' %}


{% block content %}
<nav class="navbar navbar-expand-lg" style="background-color:#DBD5D3;">
    <div class="container-fluid">
      <h3 class="text-black">{{employee}}</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-center mx-5 mb-lg-0">

          <li class="nav-item">
            <a class="btn btn-light me-2" href="{% url 'singleEmployee' employee.id %}" role="button">Sprzęt</a>
          </li>
        </ul>
        <form class="d-flex ms-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <table class="table mb-0">
    <thead>
      <tr>
        <th scope="col">Data przekazania</th>
        <th scope="col">Pracownik</th>
        <th scope="col">Działanie</th>
        <th scope="col">Sprzęt</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for protocol in protocols%}
      {% for key, value in dataSet.items %}
      {% if key == protocol.id %}
      <tr class="fw-normal">
        <td>
          <span>{{protocol.created|date:"d/m/Y"}}</span>
        </td>
        <td class="align-middle">
          <span>{{protocol.employee}}</span>
        </td>
        <td class="align-middle">
            <span>{{protocol.is_return|yesno:"Zwrot,Przekazanie"}}</span>
          </td>
          <td class="align-middle">
            <span>                    
              {% for item in value %}
               {{item.item_id.item_it|default_if_none:""}} <b> -- </b> {{item.item_id.item_sn|default_if_none:""}} <br>
              {% endfor%}</span>
          </td>
          <td class="align-middle">
            <span><a class="btn btn-primary" href="{%url 'singleProtocol' protocol.id%}"role="button">Wyświetl</a></span>
          </td>
          
        
      </tr>

      {% endif%}

      {% endfor%}
  {%endfor%}  

    </tbody>
  </table>  


{% comment %} 

    <div class="container text-center mt-5">
        <div class="row">
          <div class="col"><b>ID</b></div>
          <div class="col-2"><b>Data Przekazania</b></div>
          <div class="col-2"><b>Pracownik</b></div>
          <div class="col"><b>Działanie</b></div>
          <div class="col-3"><b>Sprzęt</b></div>
          <div class="col"></div>

        {% for protocol in protocols%}
        {% for key, value in dataSet.items %}
        {% if key == protocol.id %}

        <hr>
            <div class="row m-1">
                <div class="col">{{protocol.id}}</div>
                <div class="col-2">{{protocol.created}}</div>
                <div class="col-2">{{protocol.employee}}</div>
                <div class="col">{{protocol.is_return|yesno:"Zwrot,Przekazanie"}}</div>
                <div class="col-3">
                    {% for item in value %}
                    {{item.item_id.item_name|default_if_none:""}}  {{item.item_id.item_it|default_if_none:""}}<br>
                    {% endfor%}
                    
                </div>
                <div class="col"><a class="btn btn-primary" href="{%url 'singleProtocol' protocol.id%}"role="button">Wyświetl</a></div>
                
            </div>
            {% endif%}

            {% endfor%}
        {%endfor%}  
        <hr>

    </div> {% endcomment %}





{% endblock content %}