{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Dodaj Utylizacje</h1>

{% if region == None %}
  <div id="div_id_item_region" class="form-group">
    <label for="id_item_region">Region</label>
    <div>
      <select id="id_item_region" name="region" class="w-25 m-2 select form-control">
        {% for r in regions %}
          <option value="{{r.id}}">{{r}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endif %}

  <hr />

  <button type="button" onclick="addUtilizationX()" class="btn btn-success">Zatwirdz</button>

  <script>
    $(document).ready(function() {
      $('#id_item_region').select2();
    });
    function addUtilizationX(){
      let region = undefined;

      {% if region == None %}
        region = document.getElementById('id_item_region').value;
      {% endif %}

      addUtilization(region);
    }
  </script>
{% endblock content %}
