{% extends 'main.html' %}


{% block content %}

<script>
    // Fetch count for utilization
    async function fetchUtilizationCount(utilizationId) {
        try {
            const response = await fetch(`/api/items/?utilization_id_int=${utilizationId}`);
            const data = await response.json();
            const count = data.count;
            document.getElementById(`utilizationCount_${utilizationId}`).textContent = count;
        } catch (error) {
            console.error(`Error fetching count for utilization ${utilizationId}:`, error);
        }
    }

    // Call fetchUtilizationCount for each utilization in the list
    
</script>



    <!-- Security token -->
    {% csrf_token %}


  <h2>Utylizacja</h2>
  <hr />

  <form action="{% url 'utilization' %}" method="get">
    <input name="qcreator" type="text" placeholder="Twórca..." value='{{qcreator}}'>
    <input name="qcreateddate" type="text" placeholder="Data stworzenia..." value='{{qcreateddate_value}}' onfocus="(this.type='date')">
    <input name="qenddate" type="text" placeholder="Data zakończenia..." value='{{qenddate_value}}' onfocus="(this.type='date')">
    <input type='submit' value='Szukaj'>

</form>


  <div class="col py-3" >
    <table class="table mb-0">
      <tr>
        <th scope="col" style="width: 1em;"></th>
        
        <th scope="col">Stworzony przez</th>
        <th scope="col">Data Stworzenia</th>
        <th scope="col">Data Zakończenia</th>
        <th scope="col">Ilość sprzętu</th>
        <th scope="col"></th>
      </tr>

      {% for utilization in utilizationList %}

        <tr class="fw-normal">
          <td style="width: 1em;">
            {% if utilization.company_transfer_date %} <!-- TODO: Latin chars!!! -->
              <font color="green" data-bs-toggle="tooltip" data-bs-placement="top" title="Sprzet zostal przekazany do utylizacji">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
              </font>
            {% else %}
              <font color="blue" data-bs-toggle="tooltip" data-bs-placement="top" title="Utylizacja nie zostala sfinalizowana"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16"><path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/></svg>
              </font>
            {% endif %}
          </td>
          
          <td>{{utilization.created_by}}</td>
          <td>{{utilization.created|date:"d.m.Y"}}</td>
          <td>
        {% if utilization.company_transfer_date %}
        {{utilization.company_transfer_date|date:"d.m.Y"}}
          {% else %}
            W toku
          {% endif %}    
        </td>

        <td id="utilizationCount_{{ utilization.id }}">
            Loading...
        </td>
        <script>
        fetchUtilizationCount({{ utilization.id }});
        </script>

          <td>

            <div class="btn-group">
              <a class="btn btn-secondary" href="{% url 'singleUtilization' utilization.id %}" role="button">Wyświetl</a>
              {% if not utilization.company_transfer_date %}
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'utilizationDelete' utilization.id %}">Usuń</a></li>
              </ul>
              {% endif %}
            </div>
          </td>
        </tr>
      
      {%endfor%}  

    </table>
  </div>

  <div class="card-footer text-end p-3">
  </div>
  <div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
          {% if utilizationList.has_previous %}
              <a href="?page=1&q={{q_value}}">&laquo; first</a>
              <a href="?page={{ utilizationList.previous_page_number }}&q={{q_value}}">previous</a>
          {% endif %}

            <span class="current">
                Page {{ utilizationList.number }} of {{ utilizationList.paginator.num_pages }}
            </span>

          {% if utilizationList.has_next %}
              <a href="?page={{ utilizationList.next_page_number }}&q={{q_value}}">next</a>
              <a href="?page={{ utilizationList.paginator.num_pages }}&q={{q_value}}">last &raquo;</a>
          {% endif %}
        </span>
        </div>
    </div>
  </div>  
  <!--end of Pagination-->



{% endblock content %}
