{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}



  <h1>Dodaj sprzęt do utylizacji</h1>
  <form method="POST" enctype="multipart/form-data">
    <!-- Security token -->
    {% csrf_token %}
 
<div id="div_id_item" class="form-group">
       <label for="search-items" class=" requiredField">Przedmiot<span class="asteriskField">*</span> </label> 
       <div data-select2-id="select2-data-28-4whr"> 
         <select name="item" class="w-25 m-2 select form-control select2-hidden-accessible" id="search-items" required="" tabindex="-1" aria-hidden="true" data-select2-id="select2-data-search-items"> 
          <option value="" selected="" data-select2-id="select2-data-10-iflm">---------</option>
         </select>
       </div> 
    </div>
    <!-- Using the formset -->
    {% comment %}{{ utilizationForm|crispy }} {% endcomment %}
    <hr>
    {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
        
          <strong>Uwaga!</strong> {{message}}.
   
        {% endfor %}
    </div>
{% endif %}
     
    <button type="button" onclick="send()" class="btn btn-success mt-3" name="saveAndEnd">Zapisz</button>
    <button type="button" onclick="addItem()" class="btn btn-secondary mt-3" name="saveAndContinue">Dodaj Kolejny</button>
</form>
<script type="text/javascript">
  const select2conf = {
    // Use AJAX to call to API2 to get the list of items
    ajax: {
      url: "{% url 'item-list' %}",
      dataType: 'json',
      delay: 300,
      data: function(params){
        // item_user true because value of that field is null, we dont want to search used items
        return {
          item_user: true,
          utilization_id: true,
          search: params.term,
          limit: 10
        }
      },
      processResults: function(data){
        // We get raw data, so we are formating it that select2 can work with them
        return {
          results: data.results.map(e => {
            return {id: e.id, text: e.item_it + ' ' + e.item_sn + ' ' + e.item_model}
          })
        }
      },
    }
  };

  $(document).ready(function() {
    //$('.select2field').select2();
    // Add event listener to search-items 
    $('#search-items').select2(select2conf).on('select2:select', () => {
      // Add new search-item and get its id
      var ix = addItem();
      // Open newly created select
      $('#search-items' + ix).select2('open');
    });

  });

  var debug = {{pk}};

  async function send(){
    // Get data from form, including token
    const token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    const items = document.getElementsByName('item'); // Gets all fields with name=item

    // Validate items
    var seen = [];
    for(var item of items){
      if(!item.value) continue;
      if(seen.includes(item.value)){
        // Alert user with name (got from span)
        alert("Zduplikowany przedmiot " + item.parentElement.children[1].innerText);
        return;
      }
      seen.push(item.value);
    }

    // Variable with pk
    var id = {{pk}};

    // Send each item to server
    for(var item of items){
      // Skipp if empty
      if(!item.value){
        console.log('skipped');
        continue;
      }

      // Create form-loke data
      var data = new FormData();
      data.append('csrfmiddlewaretoken', token);
      data.append('item', item.value);

      // If we have pk send it too
      if(id != undefined)
        data.append('pk', id);
      console.log(id);

      // Send data and wait for response
      var res = await fetch('/utilization/add_item', { 
        method: "POST",
        body: new URLSearchParams(data),
      });

      // Response is in JSON format
      var d = await res.json();

      // Get pk
      id = d.pk;
    }

    if(id == undefined){
      alert('Podaj przynajmniej jeden przedmiot.');
      return;
    }

    // Redirect to the protocol
    // TODO: add URL /utilization/<id>
    window.location.href = "{% url 'utilization' %}"// + id;
  }

  // This variable holds search-item id
  var id = 0;
  function addItem(){
    // Get div where we're willing to add new field
    var div_id_item = document.getElementById('div_id_item');

    // Clone first field, change its id, remove span (will be added by jQuery), then append to div
    var field = div_id_item.getElementsByTagName('div')[0].cloneNode(true);
    field.getElementsByTagName('select')[0].id += id;
    field.removeChild(field.children[1]);
    div_id_item.appendChild(field);

    // A 'lil trick here, for some reason we must update both new and the very first field in that order
    // Otherwise it breaks everything
    $('#search-items' + id).select2(select2conf);
    $('#search-items').select2(select2conf);
    $('#search-items' + id).select2(select2conf);

    // Add event listener to search-items 
    $('#search-items' + id).on('select2:select', () => {
      // Add new search-item and get its id
      var ix = addItem();
      // Open newly created select
      $('#search-items' + ix).select2('open');
    });

    var x = document.createElement('button');
    x.classList.add('btn');
    x.classList.add('btn-danger');
    x.classList.add('py-0');
    x.classList.add('px-2');
    x.innerHTML = "X";
    x.addEventListener('click', () => {
      div_id_item.removeChild(field);
    });
    field.appendChild(x);

    // Meke next id unique
    return id++;
  }
</script>



{% endblock content %}
