{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}


<h1>Usuń Przedmiot</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Typ</th>
      <th scope="col">Producent</th>
      <th scope="col">Model</th>
      <th scope="col">IT</th>
      <th scope="col">S/N</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.category}}</td>
      <td>{{item.item_producent}}</td>
      <td>{{item.item_model}}</td>
      <td>{{item.item_it}}</td>
      <td>{{item.item_sn}}</td>
    </tr>
  </tbody>
</table>


{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form method="POST" enctype="multipart/form-data">
 
    <!-- Security token -->
    {% csrf_token %}
 
    <button type="submit" class="btn btn-danger mt-3">Potwierdź</button> 
    <a class="btn btn-success mt-3" href="{% url 'singleUtilization' utilization.id %}" role="button">Anuluj</a>
</form>

{% endblock content %}
